body {
  min-height: 100vh;
  margin: 0px;
  background-image: linear-gradient(
    to bottom,
    rgb(193, 184, 184),
    rgb(250, 250, 191)
  );
  font-family: Arial, Helvetica, sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box {
  height: 100%;
}
.img-box img {
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.mid-portion {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
}
main {
  display: flex;
  flex-direction: column;
}
.award-img-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  /* for grid child */
}
.award-img-box img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-achievement {
  padding: 10px;
  width: 100%;
}

.guest-img-box {
  width: 90%;
}
.guest-img-box img {
  width: 100%;
  padding: 8px;
  justify-self: center;
  height: 100%;
}
.list-Of-achievements {
  margin-left: 30px;
  font-size: 14px;
  margin-top: 10px;
}
.lower-info {
  font-size: 14px;
  margin-left: 10px;
}
.install {
  margin-top: 20px;
  padding: 10px;
}

.lower-0f-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lower-0f-main img {
  width: 80%;
  padding: 10px;
}
.pump-info {
  font-size: 14px;
  text-align: center;
}
.strip {
  height: 2px;
  width: 98%;
  margin: 15px 0px;
  align-self: center;
  background: #fa0303;
}
.diff-segments {
  font-size: 15px;
  align-self: center;
  font-weight: 600;
}
.segments {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  font-size: small;
  justify-content: center;
}
.segment-item {
  border-right: 2px solid red;
  gap: 2px;
  margin: 2px 2px;
  padding: 2px;
  white-space: nowrap;
}
.footer {
  background: rgb(253, 38, 38);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: auto;
}

.icons {
  display: flex;
  height: 35px;
  gap: 5px;
  font-size: 28px !important;
  color: white;
  margin: 0px 40px;
}
.icons > div {
  font-size: 17px !important;
  align-self: flex-end;
}
.segment-each {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

@media (max-width: 960px) {
  .mid-portion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .segment-each {
    font-size: 10px !important;
  }
  .footer {
    flex-direction: column;
  }
  .details-achievement {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .award-img-box {
    width: 60%;
  }
  .install {
    padding: 4px;
  }
  .diff-segments {
    font-size: 10px;
  }
  .pump-info {
    font-size: 11px;
  }
  .icons {
    margin: 2px;
  }
  .large-seg {
    border: 2px solid firebrick;
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 1200px) {
  .just-inner-top-level {
    display: flex;
    flex-direction: column;
  }
  .lower-0f-main img {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .segment-item {
    font-size: 8px;
  }
  .icons {
    font-size: 20px !important;
  }
}
